.details-head{
    .grid-content{
       .basic{
           display: inline-block;
       }
       .expectPlace_arr{
           width: 178px;
       }
    }
}

.details-footerBtn{
    width: 250px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 30px
}
.rightone{
    position: relative;
}
.resumedetails{
    .basic2 {   //  职位编辑
        font-size: 12px;
        margin-top: 26px;
        width: 250px;
    }
}

