.mt25 {
    margin-top: 25px;
}

.ml25 {
    margin-left: 25px;
}
.resumedetails {
    line-height: 32px;
    padding: 10px 0px 0 0px;
    .resumeReaded{
        .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
            height: auto;
        }
        .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header>i{
            display: none;
        }
    }
    .search-wrapper-head-text {
        display: inline-block;
        width: 80px;
        height: 14px;
        line-height: 14px;
        border-left: 2px solid #2d8cf0;
        font-size: 16px;
        padding-left: 8px;
    }
}

.resumup {
  height: 100%;
  .arrow-down {
    width: 0;
    height: 0;
    border-right: 35px solid transparent;
    border-top: 35px solid #2d8cf0;
    position: relative;
    left: -5px;
    top: -5px;
    cursor: pointer;
    .ivu-icon{
        position: absolute;
        left: 4px;
        top: -28px;
        font-size: 14px;
        color: #fff;
    }
}
  .interviewRecordList{
      background-color: #f8f8f8;
      width: 70%;
      min-width: 920px;
      padding: 10px 20px;
      .interscore{
          width: 80%;
          display: inline-block;
          >span{
              color: #202020;
              float: left;
          }
      }
      .feedbackTime{
          float: right;
          color: #C5C5C5;
      }
      li{
          border-bottom: 1px solid white;
          margin-bottom: 20px;
          padding-bottom: 20px;
          .interview_del{
              margin-left: 100px;
              color: #C5C5C5;
              span{
                  float: right;
                  i{
                      font-style: normal;
                      margin-right: 20px;
                      color: #2d8cf0;
                      cursor: pointer;
                  }
              }
          }
      }
  }
  background: #fff;
  margin-top: 10px;
  font-family: 微软雅黑;
  padding: 5px;
  position: relative;
  .details-head {
      padding: 0px 3px;
      .leftheight {
          height: 100%;
          overflow: visible;
          .fl{
            float: left;
          }
          .upbottom {
              margin: 70px 10px 20px 10px;
              text-align: center;
          }
      }
      .details-top {
        border-bottom: 1px solid #D3DCE4;
        padding: 0 4px 0 4px;
        overflow: hidden;
        line-height: 17px;
          p {
              line-height: 35px;
              font-size: 24px;
              float: left;
              b{
                  font-weight: normal;
                  display: inline-block;
              }
              .JobPublis {
                  background: #C5C5C5;
              }
          }
      }
      .detailEditing-top {    //  简历编辑页面的top部分
          border-bottom: 1px solid #d1d1d1;
          padding: 0 4px 0 4px;
          overflow: hidden;
          line-height: 35px;
          p {
              font-size: 18px;
              float: left;
              b{
                  font-weight: normal;
                  display: inline-block;
              }
              
              .JobPublis {
                  background: #C5C5C5;
              }
          }
      }
      .details-cont {
          padding: 20px 10px;
        .wordbreak{
          word-wrap: break-word;
          .ivu-select-dropdown{
              height: 130px;
              overflow: auto;
          }
          .work{
            display: inline-block;
          }
          .timeout{
            font-size: 12px;
            background: #C5C5C5;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #FFFFFF;
            font-size: 12px;
          }
          .publishState{
            font-size: 12px;
            background: #2d8cf0;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #FFFFFF;
            font-size: 12px;
          }
        }
          .detailediting {
              float: right;
              color: #2d8cf0;
          }
          .d-name {
              font-size: 16px;
              // margin-bottom: 10px;

          }
          .basic {
              font-size: 12px;
              margin-top: 26px;
          }
      }
      .details-bottom {
          .el-bt-show{
              color: red;
          }
        .downrum {
            position: absolute;
            top: 0;
            right: 10px;
        }
        .callRecord_add{
            background-color: #f8f8f8;
            text-align: center;
            color: #2d8cf0;
            cursor:pointer;
        }
        .interviewr{
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #2d8cf0;
          float: left;
          margin-right: 5px;
          span{
            height: 20px;
            display: inline-block;
            line-height: 20px;
          }
        }
        .interviewjob{
          font-family: PingFangSC-Regular;
          font-size: 18px;
          color: #202020;
          height: 30px;
          .reject{
            background: #FFC187;
          }
          .reject::before{
            border-right: 10px solid #FFC187;
          }
        }
      .handler{
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #A0A0A0;
        span{
            color: #C5C5C5;
        }
      }
          clear: both;
          padding: 10px;
          height: 100%;
          width: 100%;
          position: relative;
          min-height: 500px;
          .operation {
            padding-top: 12px;
            .operline {
                line-height: 21px;
            }
            .opertitle {
                color: #202020;
                font-size: 14px;
                line-height: 25px;
            }
            .demonstration {
                font-size: 14px;
                float: left;
                margin-right: 5px;
            }
            .oprtpeop {
                font-size: 12px;
                color: #a0a0a0;
                line-height: 25px;
                clear: both;
                span{
                    color: #C5C5C5;
                }
            }
        }
          .photoBox{
            width: 100%;
            height: 100%;
            min-height: 500px;
            position: relative;
            background: #F8F8F8;
            p{
              position: absolute;
              top: 350px;
              left: 50%;
              transform: translate(-50%);
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #A0A0A0;
            }
            .photoBox_img{
              width: 250px;
              height: 200px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%)
            }
          }
          iframe {
               ::-webkit-scrollbar {
                  width: 5px;
              }
          }
          .resume {
              width: 100%;
          }
          .pdf {
              width: 100%;
              min-height: 600px;
          }
      }
      .personLiable1{
        float: left;
        line-height: 40px;
        font-size: 12px;
        color: #d1d1d1;
        margin-left: 15px;
      }
      .personLiable {
          float: left;
          line-height: 40px;
          font-size: 12px;
          color: #d1d1d1;
          margin-left: 15px;
      }
      .rightbox {
        min-height: 200px;
        background-color: #f8f8f8;
        position: relative;
          .rightone-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: rgb(204,204,204);
            font-size: 16px;
            font-family: "微软雅黑";
            background: #f8f8f8;
          }
          .rightone {
            background: #f8f8f8;
            padding: 10px 0px;
         
              .righttitle {
                  text-align: center;
                  // 简历绑定职位
              }
              .recommender {
                  padding: 20px 0px;
                  width: 347px;
                  margin: 0px auto;
                  .demonstration {
                      display: block;
                      width: 80px;
                      float: left;
                  }
              }
              .rithtlise {
                  padding: 10px 15px;
                  text-align: center;
                  .randompeop {
                      font-size: 12px;
                      color: #9f9f9f;
                      margin-left: 17%;
                  }
                  .timeyes {
                      width: 30%;
                  }
                  .beizhu {
                      width: 70%;
                  }
                  .shugang {
                      border-right: 1px solid #d1d1d1;
                      font-size: 12px;
                      line-height: 15px;
                      text-align: center;
                  }
                  .shugang2 {
                      margin-left: 10px;
                      border-right: none;
                  }
                  .username,
                  .sex {
                      font-size: 16px;
                  }
                  .sex {
                      color: #ffa8db;
                  }
              }
              .talent{    //  进入人才库的弹框
                  .recommender{
                      padding: 8px 0px;
                  }
                  .comments{
                      padding-left: 27px;
                  }
              }
          }
      }
      .right_position{
          margin-top: -35px;
      }
  }

}
.ivu-select-item{
  height: 40px;
}